MONGODB_URI=mongodb://localhost:27017 
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
PORT=5000
NODE_ENV=development
GOOGLE_CLIENT_ID=744419888014-0rtl9jedb19mmovos2rur2dm5i4nbt3n.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=744419888014-0rtl9jedb19mmovos2rur2dm5i4nbt3n.apps.googleusercontent.com
